* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    min-width: 650px;
}
body {
    margin: 1%;
}
header{
    display: flex;
}
#headMessage {
    margin-left: auto;
    font-size: 15px;
    padding: 6px 15px;
}
.large-option {
    margin-left: 10px;
    margin-top: 10px;
}
.medium-option {
    margin-left: 10px;
}
.mini-option {
    margin-left: 10px;
    margin-top: 3px;
}
.mini-option input {
    vertical-align: text-bottom;
}
#additional-command-original-text{
    width: 100px;
}
#main-comment-span-ms, #owner-comment-span-ms {
    width: 60px;
}
#saveBtn {
    width: 90px;
    height: 35px;
    font-size: 20px;
    font-weight: bold;
}
ul#command-order-ui {
    list-style: none;
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: row;
    border: black 2px solid;
    width: 550px;
}
li.command-order-li {
    user-select: none;
    background: #4971bf;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, .2);
    cursor: grab;
    max-width: 500px;
    padding: 3px 10px;
    transition: box-shadow .3s;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}
li.command-order-li.onGrab {
    cursor: grabbing;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .15);
    position: absolute;
    z-index: 1;
}
li.command-order-li:not(:last-child) {
    margin-right: 5px;
}
.hidden {
    visibility: hidden;
}