div.grid-area_\[player\] > div.pos_relative > div > div > div > div.d_flex {
  z-index: 12;
}

#dansk\:HeaderElement {
  grid-area: d_header;
}

#dansk\:FooterElement {
  display: flex;
  flex-direction: column;
  gap: 10px;
  grid-area: d_footer;
}

div.grid-area_\[player\] > div[tabindex="0"] > div > div.p_base {
  position: relative;
  z-index: 11;
}

// for watch
section:has(div.grid-area_\[player\]) {
  grid-template-rows: min-content min-content min-content min-content min-content 1fr;
  grid-template-areas:
    "d_header d_header"
    "player sidebar"
    "d_footer sidebar"
    "meta sidebar"
    "bottom sidebar"
    ". sidebar";
}

// for owner_comment_edit
div:has(div.grid-area_player) {
  grid-template-rows: min-content min-content min-content min-content min-content 1fr;
  grid-template-areas:
    "header header"
    "d_header d_header"
    "player sidebar"
    "d_footer .";
  
  div.grid-area_sidebar > div[aria-label="エディター"] {
    textarea {
      white-space: pre;
    }
  }
  
  div#dansk\:MemoElement, div#dansk\:MainElement {
    margin-bottom: 16px;
  }
}

div:has(iframe[src^="https://www.nicovideo.jp/owner_comment_edit/"]){
  width: 100vw;
  height: 100vh;
  max-height: unset;
}

div.pos_absolute.inset_0:has(div.pos_absolute.inset_0.d_flex.jc_center.ai_center.pointer-events_none.us_none){
  pointer-events: none;
}
